lesson06/case3/checking.dtd

<!--
   New Perspectives on XML
   Tutorial 6
   Case Problem 3

   Checking Account DTD

   Filename:         checking.dtd
   Supporting Files: 
-->

<!ELEMENT checking (check)*>

<!ELEMENT check (amount, to, date, memo)>
<!ATTLIST check id CDATA #IMPLIED>
<!ATTLIST check category (books | entertainment | supplies | utilities | other) #IMPLIED>

<!ELEMENT amount (#PCDATA)>
<!ELEMENT to (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT memo (#PCDATA)>


